{%extends 'registration/base.html'%}
{% load bootstrap4%}
{%load static%}
{{block.supper}}
{%block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body id="nextDoor">


    <div class="container">
        <h1 class="text-center p-5">PLEASE LOGIN</h1>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="sizee">
                    <form class=" form form-group" action="/accounts/login/" method="post">
                        <legend>Login</legend>
                        <hr>
                        {%csrf_token%}
                        {%bootstrap_form form%}
                        <hr>
                        <button class="btn btn-outline-info" type="submit" name="button">Login</button>
                        <p>Dont have an account ? <a href="/accounts/register/">sign up</a></p>
                    </form>
                </div>



            </div>
            <div class="col-md-3"></div>

        </div>

    </div>
</body>

</html>

{%endblock%}