{%extends 'registration/base.html'%}
{% load bootstrap4%}
{%load static%}
{{block.supper}}
{%block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<h1 class="text-center p-5">REGISTER TODAY</h1>

<body id="nextDoor">


    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="logins">
                    <div class="sizee">

                        <form class=" forms form-group" action="/accounts/register/" method="post">
                            <legend style="text-align:center">Sign Up</legend>

                            <hr>
                            {%csrf_token%}
                            {%bootstrap_form form layout='inline'%}
                            <hr>
                            <button class="btn btn-outline-info" type="submit" name="button">Sign Up</button>
                            <p style="color: black">Already have an account ? <a href="/accounts/login/">Login</a></p>

                        </form>
                    </div>

                </div>


            </div>
            <div class="col-md-3"></div>

        </div>

    </div>
</body>

</html>

{%endblock%}