{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}
{%include 'genNav.html'%}
<div class="container-fluid">
    <div class="row">
        <div id="pro" class="col-md-4">
            <br>
            {%if profile%}
            {%for pro in profile%}

            <div class="img">
                {%if pro.image%}
                <img height="150" width="150" class="rounded-circle" src="{{pro.image.url}}" alt="">
                {%else%}
                <p class="alert alert-info">Please Update your profile <a href="" class="btn btn-info btn-sm"
                        data-toggle="modal" data-target="#modalRegisterForm">edit Now</a></p>
                {%endif%}
                <i class="name"> {{user}}</i>
                <div class="pap">
                    <p>{{pro.fullname}}</p>
                    <p>Hood | {{pro.neigbor.name}}</p>
                    <p>{{pro.user.email}}</p>
                </div>

            </div>
            <br>
            <p>Secondary Email:{{pro.secondaryEmail}}</p>
            <h5>{{pro.location}}</h5>
            <a id='hide'>Change Hood</a>
            <form id="show" class="form-group animated fadeIn" action="/profile/" method="post"
                enctype="multipart/form-data">
                {%csrf_token%}
                {%bootstrap_form change%}
                <button type="submit" class="btn btn-success btn-sm">Change</button>
            </form>
            {%endfor%}
            {%else%}
            <p>Welcome {{user}}</p>
            <img style="background-color:white" src="/static/img/ic.png" class="rounded-circle img-fluid"
                alt="{{user}}">

            <p class="alert alert-danger">PLease Update your Profile for better experience</p>
            {%endif%}
            <hr>
            <div class="edit">
                {%if profile%}
                <a href="" class="btn btn-info" data-toggle="modal" data-target="#modalRegisterForm">Edit
                    profile</a>
                {%else%}
                <a class="btn btn-info" href="{%url 'edit'%}{{user.username}}">Update Profile</a>
                {%endif%}
                <a class="btn btn-info" href="{%url 'busi'%}">Add business</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="imagePro">
                <div class="overlay">
                    <form id="search" role="search" class="form-inline my-2 my-lg-0" action="{%url 'search'%}">

                        <input name="businessesName" class="form-control mr-sm-2" type="search"
                            placeholder="Search business" aria-label="Search">
                        <button class="btn btn-sm btn-info" type="submit">Search</button>
                    </form>

                </div>
                <hr>

                <div class="row">
                    <div class="col-md-6" style="border-right: 1px solid grey">
                        <h4 style='text-align:center'>Your Posts</h4>
                        <hr>
                        {% if post%}
                        {%for po in post%}
                        <p>{{po.post}}</p>
                        {%endfor%}
                        {%else%}
                        <p style='text-align:center' class="alert alert-info">{{user}} Share Whats happening in your
                            hood
                            <br> <a href="{%url 'feeds'%}">get started</a></p>
                        {%endif%}
                    </div>
                    <div class="col-md-6">
                        <h4 style='text-align:center'>Business You have added</h4>
                        <hr>
                        {% if busi%}
                        {%for bu in busi%}
                        <ul class="list-group">
                            <li class="list-group-item">{{bu.businessesName}}</li>
                        </ul>
                        {%endfor%}
                        {%else%}
                        <p style='text-align:center' class="alert alert-info">{{user}} Share your 1st busines <br> <a
                                href="{%url 'busi'%}">get started</a></p>
                        {%endif%}
                    </div>

                </div>

            </div>

            <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Update Profile</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <form class="form-group" enctype="multipart/form-data" action="/profile/" method="post">
                                {%csrf_token%}
                                {%bootstrap_form form%}
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="submit" class="btn btn-deep-orange">Update</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <!-- feeds post and business-->



        </div>

    </div>

</div>

{%endblock%}